{% extends 'home.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Add product{% endblock %}

{% block content %}
    {% block scripts %}
        <script src="{% static 'jscolor.js' %}"></script>
    {% endblock %}
    <h2>Add product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group col-md-3 mb-1">
            {{ form | crispy }}
        </div>

        <button type="submit">Add product</button>
    </form>
{% endblock %}
