{% extends 'home.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}Search product{% endblock %}

{% block content %}
    <table>
        <tr style="vertical-align: top">
            <td>
                <h2>Search Product you want</h2>
                <form method="POST">
                    {% csrf_token %}

                    <div class="form-group col-md-10 mb-1">
                        {{ form | crispy }}
                    </div>
                    {{ formStar.as_p }}
                    <button type="submit" class="btn btn-secondary">Add new product</button>
                    <p>
                        <br>
                        <a href={% url 'product-search' %}>Reset Filter</a>
                    </p>
                </form>
                <br>
                <br>
            </td>
            <td>
                {% if show_results %}
                    <div style="position: absolute; left: 400px; width: calc(100% - 450px);display: grid; grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); margin: 5px; gap: 10px;">
                        {% for product in products_found %}
                        <div>
                            <a href="{% url 'product-detail' product.id %}" style="text-decoration:none">
                                <img src="{{ product.product_picture.url }}" height="auto" alt="product icon"
                                     width="100%">
                                <p>{{ product.name }}<br>{{ product.price }}€<br>{{ product.stars }}
                                {% for i in '12345'|make_list %}
                                    {% if product.stars >= forloop.counter %}
                                        <img src="{% static 'Products/Star_full.png' %}" height="20" width="20" alt="">
                                    {% else %}
                                        <img src="{% static 'Products/Star_empty.png' %}" height="20" width="20" alt="">
                                    {% endif %}
                                {% endfor %}</p></a>
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}