{% extends 'home.html' %}
{% load static %}


{% block title %}Search book{% endblock %}

{% block content %}
    <table>
        <tr style="vertical-align: top">
            <td>
                <h2>Search Product you want</h2>
                <form method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}
                    {{ formStar.as_p }}
                    <button type="submit">Search</button>
                </form>
                <br>
                <br>
            </td>
            <td>
                {% if show_results %}
                    <ul>
                        {% for product in products_found %}
                            <a href="{% url 'product-detail' product.id %}">
                                <img src="{{ product.product_picture.url }}" height="150"  alt=""width="150">{{ product.name }} {{ product.stars }}</a>
                            <br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </table>

    <p>
        <a href={% url 'all-products' %}>Back to the product view</a>
    </p>
    <p>
        <a href={% url 'home' %}>Back to home</a>
    </p>
{% endblock %}