{% extends 'home.html' %}
{% load static %}

{% block title %}Comment delete{% endblock %}

{% block content %}
    <h2>Comment delete</h2>
    {% if not is_staff %}
        <div>
            <p>You're not supposed to be here. Go away!</p>
        </div>
    {% endif %}
    {% if not all_the_comments %}
        <p>There are no inappropriate comments.<br>
            What are you doing then here?! Go away!</p>
    {% else %}
        {% for comment in all_the_comments %}
            <b style="color: darkgreen">{{ comment.myuser.username }} on {{ comment.timestamp }}</b><br>
            {{ comment.text }}<br>
            {% if is_staff %}
                <a href={% url 'comment-flag-remove' comment.id %}>
                    <button>Unflag</button>
                </a>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="comment_id" name="comment_id" value="{{ comment.id }}">
                    <button type="submit" name="delete">Delete</button>
                </form>
            {% endif %}
        {% endfor %}
    {% endif %}
    <a href="{% url 'home' %}">Back to home!</a>
{% endblock %}