{% extends "home.html" %}
{% load static %}

{% block title %}Customer page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <p>Your set of the (almost) most powerful operation</p>
    </div>
        {% if user.is_staff %}
            <div class="container">
                <p>Delete Comments: <br>
                    <a href="{% url 'comment-delete' %}">Review inappropriate Comments</a>
                </p>
            </div>
            <div class="container">
                <p>Create Product: <br>
                    <a href="{% url 'product-create' %}">Add product</a>
                </p>
            </div>
        {% endif %}
    {% else %}
        <p>You are not authorized to access this site.</p>
    {% endif %}
{% endblock %}