{% extends "base.html" %}
{% block title %}Homepage Titel{% endblock %}
{% block css %}{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.css' %}">{% endblock %}

{% block header %}
    <a style="float: right;" href="{% url 'shopping-cart-show' %}">
        Shopping Cart (
        {% if user.is_authenticated %}
            {{ request.user.count_shopping_cart_items }}
        {% else %}
            0
        {% endif %}
        )
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        Welcome
    </div>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <a href="{% url 'logout' %}">logout</a>
        {% block logged_in_content %}
        {% endblock %}
    {% else %}
        <div class="container">
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
        </div>
        <br>
        <div class="container">

            {% block not_logged_in_content %}
                <p>Need an Account? Click below!</p>
            {% endblock %}
            <a href="{% url 'signup' %}">signup</a>
        </div>
    {% endif %}
{% endblock %}