{% extends 'home.html' %}
{% load static %}

{% block title %}Shopping cart{% endblock %}

{% block logged_in_content %}
<h2>Shopping cart</h2>
    {% for item in shopping_cart_items %}
        {{ item.product_name }}<br>
        {{ item.price }} € x{{ item.quantity }}<br>
        <br>
    {% endfor %}

    Total amount: {{ total }} €

    <br><br>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="empty">Empty the shopping cart</button><br>
        <button type="submit" name="pay">Pay with credit card</button>
    </form>

<br>
<a href={% url 'all-products' %}>Keep shopping the scratch trees</a>
{% endblock %}